#chessboard {
    width: 600px;
    height: 600px;
    bottom: -50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    box-shadow: 8px 17px 35px -5px rgba(0,0,0,0.20);
}